@model Doctorsforum.Models.Post_Detail

@{
  ViewBag.Title = "View";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <h2>Create new post</h2>

  @using (Html.BeginForm("Post", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Post Detail</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
        <label class="control-label col-md-2">Topic Name</label>
        <div class="col-md-10">
          <input type="text" name="topicname" class="form-control" value="@(ViewBag.topicname ?? String.Empty)" />
          @if (ViewBag.topicError != null) {
            <div class="text-danger">@ViewBag.topicError</div>
          }
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <input type="file" name="image" class="form-control" />
          @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control", rows = "10" })
          @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
      </div>
      <input type="text" name="userid" value="@Session["id"]" style="display:none" />
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Create" class="btn btn-primary btn-block" />
        </div>
      </div>
    </div>
  }
</div>