@model IEnumerable<Doctorsforum.Models.Achievement>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h2>Achievement</h2>
  <p>
    @Html.ActionLink("Create Achievement", "Create")
  </p>
  <table class="table table-bordered bg-light">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.AchName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Issued_by)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Date_Range)
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @foreach (var item in Model) {

        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.AchName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Issued_by)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Date_Range)
          </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AchID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AchID })
          </td>
        </tr>

      }
    </tbody>
  </table>
</div>

<hr />

<div class="text-center mt-5">
  <a href="/Home/Profileuser/@Session["id"]">Back to Profile</a>
</div>